{
    "development": {
        "fullurl": "https://redirlogin.univermilenium.edu.mx/",
        "google": {
            "client_id": "xxxxxxxxxxxxx-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx.apps.googleusercontent.com",
            "project_id": "xxxxxxxxxxxx-xxxxxxxxxxxxx",
            "auth_uri": "https://accounts.google.com/o/oauth2/auth",
            "token_uri": "https://oauth2.googleapis.com/token",
            "auth_provider_x509_cert_url": "https://www.googleapis.com/oauth2/v1/certs",
            "client_secret": "xxxxxxxxxxxxxxxxxxxxxxxx",
            "redirect_uris": [
                "http://localhost:3008/login"
            ],
            "javascript_origins": [
                "http://localhost:3008"
            ],
            "jwt": {
                "client_id": "xxxxxxxxxxxxxxxxxxxxx",
                "client_email": "xxx@xxx-xxxxxxxxxxxxx.iam.gserviceaccount.com",
                "private_key": "-----BEGIN PRIVATE KEY-----\nxxx\n-----END PRIVATE KEY-----\n",
                "subject": "admin@univermilenium.edu.mx"
            }
        },
        "temp_files_path": "C:\\tmp\\",
        "pagination_limit": 10,
        "timezoneoffset": -5,
        "ciclo_actual": "263"
    },
    "production": {
        "fullurl": "https://redirlogin.univermilenium.edu.mx/",
        "google": {
            "client_id": "xxxxxxxxxxxxx-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx.apps.googleusercontent.com",
            "project_id": "xxxxxxxxxxxx-xxxxxxxxxxxxx",
            "auth_uri": "https://accounts.google.com/o/oauth2/auth",
            "token_uri": "https://oauth2.googleapis.com/token",
            "auth_provider_x509_cert_url": "https://www.googleapis.com/oauth2/v1/certs",
            "client_secret": "xxxxxxxxxxxxxxxxxxxxxxxx",
            "redirect_uris": [
                "http://localhost:3008/login"
            ],
            "javascript_origins": [
                "http://localhost:3008"
            ],
            "jwt": {
                "client_id": "xxxxxxxxxxxxxxxxxxxxx",
                "client_email": "xxx@xxx-xxxxxxxxxxxxx.iam.gserviceaccount.com",
                "private_key": "-----BEGIN PRIVATE KEY-----\nxxx\n-----END PRIVATE KEY-----\n",
                "subject": "admin@univermilenium.edu.mx"
            }
        },
        "temp_files_path": "C:\\tmp\\",
        "pagination_limit": 10,
        "timezoneoffset": -5,
        "ciclo_actual": "263"
    }
}
